.container{
    height: 100vh;
    background-color: red;
    
    width: 100vw;
}
.box{
    height: 50px;
    width:70px;
    background-color: chartreuse;
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    transition: all 2s ease-in-out 1s;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .translate{
    transform: translate(50px, 50px);
    background-color: blue;
    height: 50px;   
    width: 50px;
} */
.translate{
    transform: translateX(10vw) translateY(10vh) scale(2);
    background-color: rgb(96, 171, 133);
}
